@keyframes flashing{
    from{filter: brightness(0.7);}
    to{filter: brightness(1.2);}
}

@keyframes rotate{
    form{ transform: rotate(0deg);}
    to {transform: rotate(360deg); }
}
@keyframes rotate_re{
    form{ transform: rotate(-0deg);}
    to {transform: rotate(-360deg); }
}